@import url(../../blocks/moviesCardList/moviesCardList.css);
@import url(../../blocks/moviesCardList/__container/moviesCardList__container.css);
.moviesCardList__text {
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif4;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.moviesCardList__container-text{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
