.moviesCard__container_like {
  margin: 0;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .moviesCard__container_like {
    margin-top: 3px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 620px) {
  .moviesCard__container_like {
    margin-top: 2px;
    margin-right: 8px;
  }
}
