.techs__text {
  margin: 0;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .techs__text {
    font-size: 12px;
    line-height: 14px;
  }
}
