.aboutMe__job {
  margin: 0 auto;
  margin-top: 18px;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
}
@media screen and (max-width: 950px) {
  .aboutMe__job {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 620px) {
  .aboutMe__job {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}
