.moviesCard__container-description {
  margin: 0;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px){
  .moviesCard__container-description{
    padding-top: 14px;
  }
}