.techs__paragraph {
  margin: 0 auto;
  max-width: 460px;
  margin-top: 26px;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .techs__paragraph {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 420px) {
  .techs__paragraph {
    margin-top: 24px;
    font-size: 11px;
    line-height: 16px;
  }
}
