.popup-menu__container {
  margin: 0;
  width: 67.71%;
  max-height: 1024px;
  padding-top: 159px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  background-color: #f9f9f9;
  z-index: 4;
}
@media screen and (max-width: 550px) {
  .popup-menu__container {
    max-height: 780px;
    padding-top: 144px;
    width: 100%;
    gap: 23px;
  }
}
