.popup-menu__container-profile {
  margin: 0;
  padding-top: 592px;
  display: flex;
  align-items: center;
  gap: 19px;
}
@media screen and (max-width: 550px) {
  .popup-menu__container-profile {
    padding-top: 444px;
  }
}
