.popup__close-btn {
  margin: 0;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 25px;
  right: 27px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .popup__close-btn {
    top: 16px;
    right: 18px;
  }
}
.popup__close-btn::before {
  content: "";
  height: 18px;
  position: absolute;
  border: 1.25px solid #000;
  background-color: #000;
  transform: rotate(45deg);
}
.popup__close-btn::after {
  content: "";
  height: 18px;
  background-color: #000;
  position: absolute;
  border: 1.25px solid #000;
  transform: rotate(-45deg);
}
