.moviesCard {
  margin: 0;
  max-width: 364px;
  max-height: 281px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .moviesCard {
    max-width: 339px;
    max-height: 262px;
  }
}